<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447855064635-giii2jeis76rvb433v0nqlsrsih0nfji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447855064635-giii2jeis76rvb433v0nqlsrsih0nfji</string>
	<key>API_KEY</key>
	<string>AIzaSyANXDMzJfY9Kp4gD3RI9jprANdDBu05wlI</string>
	<key>GCM_SENDER_ID</key>
	<string>447855064635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paynest.schoolpay.beta</string>
	<key>PROJECT_ID</key>
	<string>paynest-f14d4</string>
	<key>STORAGE_BUCKET</key>
	<string>paynest-f14d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447855064635:ios:71fba4316105f74100ce1e</string>
</dict>
</plist>